* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
}

.container {
    max-width: 75em;
    margin: 0 auto;
    padding: 1.5em 2.25em;
    background-color: #9ccfef;
    background: linear-gradient(to right top, #9ccfef, #e17f7f);
}

h1 {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: .46em;
}

#andy-image {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

main {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1.375rem;
}

main p {
    margin-bottom: 1.5em;
}

main p:last-child {
    margin-bottom: 0;
}

footer {
    font-family: "Open Sans", Helvetica, sans-serif;
}

@media (max-width: 50em) {
    .container {
        line-height: 1.5;
        background-color: #fdb0b0;
        padding: 0;
        font-family: Roboto, "Open Sans", Helvetica, sans-serif;
    }

    #andy-image {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    main {
        padding: 2rem;
    }

    main p:last-child {
        margin-bottom: 0;
    }

    footer {
        text-align: center;
        padding-bottom: 3rem;

    }
}

@media (min-width: 50em) {
    .container {
        max-width: 75em;
        background-color: #9ccfef;
        border-radius: 10px;
        font-family: Roboto, "Open Sans", Helvetica, sans-serif;
    }

    h1 {
        margin-bottom: 1.5em;
    }

    #andy-image {
        display: inline-block;
        vertical-align: top;
        margin-right: 2.5em;
        max-width: 30%;
    }

    main {
        font-family: "Open Sans", sans-serif;
        font-size: 1.375rem;
        display: inline-block;
        width: 60%;
        margin-top: -.3125em;
    }

    main p {
        margin-bottom: 1.5em;
        display: inline-block;
    }

    main p:last-child {
        margin-bottom: 2.75em;
    }

    footer {
        text-align: center;
        padding-bottom: 2em;
    }
}