* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 36px;
    background-color: #9ccfef;
    background: linear-gradient(to right top, #9ccfef, #e17f7f);
}

h1 {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 18px;
}

#andy-image {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 24px;
}

main {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 22px;
}

main p {
    margin-bottom: 24px;
}

main p:last-child {
    margin-bottom: 0;
}

footer {
    font-family: "Open Sans", Helvetica, sans-serif;
}

@media (max-width: 800px) {
    .container {
        line-height: 1.5;
        background-color: #fdb0b0;

    }

    #andy-image {
        display: block;
        max-width: 100%;
        margin: 0 auto 24px;
    }

    main p:last-child {
        margin-bottom: 44px;
    }

    footer {
        text-align: center;
    }
}

@media (min-width: 800px) {
    .container {
        max-width: 1200px;
        background-color: #9ccfef;
        border-radius: 10px;
    }

    h1 {
        margin-bottom: 24px;
    }

    #andy-image {
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;
        max-width: 30%;
    }

    main {
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        display: inline-block;
        max-width: 60%;
        margin-top: -5px;
    }

    main p {
        margin-bottom: 24px;
        display: inline-block;
    }

    main p:last-child {
        margin-bottom: 44px;
    }

    footer {
        text-align: center;
    }
}